{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "AZURE_SUBSCRIPTION_ID": "<subscription-id>",
    "AZURE_RESOURCE_GROUP": "<resource-group>",
    "AZURE_MAPS_ACCOUNT_NAME": "<maps-account-name>",
    "AZURE_MAPS_PRINCIPAL_ID": "<function-managed-identity-object-id>"
  },
  "Host": {
    "LocalHttpPort": 7071
  }
}
